:root {
    --text-color: rgb(137, 134, 134);
}

@media (max-width: 780px) {
    .box {
        float: none;
        clear: left;
    }
}

body {
    background-color: black;
    font-family: quicksand;
}

.navbar-brand {
    color: var(--text-color);
    margin-right: 50%;
    font-weight: 500;
}

.navbar-brand:hover {
    font-weight: bold;
    color: white;
}

.nav-link {
    color: white;
    margin: 0% 15%;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}

.navbar-toggler {
    background-color: white;
}

img {
    float: right;
    max-height: 500px;
    margin-right: 350px;
    margin-top: 100px;
}

.box {
    float: left;
    max-width: 50%;
}

h1 {
    color: white;
    padding-top: 250px;
    padding-left: 300px;
    padding-bottom: 20px;
    font-size: 48px;
}

h2 {
    color: rgba(255, 255, 255, 0.648);
    font-size: 20px;
    line-height: 1.5;
    padding-left: 300px;
}

button {
    margin-top: 50px;
    margin-left: 320px;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: grey;
    transition: all ease-in-out 0.3s;
}

button:hover {
    scale: 1.2;
    background-color: rgba(255, 255, 255, 0.705);
    color: rgb(32, 30, 30);
}

.my-projects {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
